/* ------------------------------------------------------------
SlickMap css release by Astuteo (www.astuteo.com/slickmap)
------------------------------------------------------------ */

/* ------------------------------------------------------------
Reset Styles
------------------------------------------------------------ */

div.sitemap_view_slickmap ol,
div.sitemap_view_slickmap ul,
div.sitemap_view_slickmap li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style-image: none;
    list-style: none;
}

div.sitemap_view_slickmap a {
    text-decoration: none;
}

div.sitemap_view_slickmap h1 {
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------
NUMBER OF COLUMNS: Adjust div.sitemap_view_slickmap .sm_nav li to set the number
of columns required in your site map. The default is
4 columns (25%). 5 columns would be 20%, 6 columns would
be 16.6%, etc.
------------------------------------------------------------ */

div.sitemap_view_slickmap .sm_nav li {
    width:25%;
}

div.sitemap_view_slickmap .sm_nav li ul li {
    width:100% !important;
}

div.sitemap_view_slickmap .sm_col1 li { width:99.9%; }
div.sitemap_view_slickmap .sm_col2 li { width:50.0%; }
div.sitemap_view_slickmap .sm_col3 li { width:33.3%; }
div.sitemap_view_slickmap .sm_col4 li { width:25.0%; }
div.sitemap_view_slickmap .sm_col5 li { width:20.0%; }
div.sitemap_view_slickmap .sm_col6 li { width:16.6%; }
div.sitemap_view_slickmap .sm_col7 li { width:14.2%; }
div.sitemap_view_slickmap .sm_col8 li { width:12.5%; }
div.sitemap_view_slickmap .sm_col9 li { width:11.1%; }
div.sitemap_view_slickmap .sm_col10 li { width:10.0%; }

/* ------------------------------------------------------------
General Styles
------------------------------------------------------------ */

div.sitemap_view_slickmap {
    position:relative;
    width:100%;
}
div.sitemap_view_slickmap h1 {
    display: inline;
}

/* ------------------------------------------------------------
Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

div.sitemap_view_slickmap .sm_nav {
    margin: 0;
    float: left;
    width: 100%;
}
div.sitemap_view_slickmap .sm_nav #sm_home {
    display: block;
    float: none;
    background: url('../images/L1-left.png') center bottom no-repeat;
    position: relative;
    z-index: 2;
}
div.sitemap_view_slickmap .sm_nav #sm_afterhome {
    background: none;
}
div.sitemap_view_slickmap .sm_nav li {
    float: left;
    background: url('../images/L1-center.png') center top no-repeat;
    padding: 30px 0;
    margin-top: -30px;
}
div.sitemap_view_slickmap .sm_nav li a {
    margin: 0 20px 0 0;
    padding: 10px 0;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: black;
    background: #c3eafb url('../images/white-highlight.png') top left repeat-x;
    border: 2px solid #b5d9ea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */
}
div.sitemap_view_slickmap .sm_nav li a:hover {
    background-color: #e2f4fd;
    border-color: #97bdcf;
}
div.sitemap_view_slickmap .sm_nav li:last-child {
    margin-bottom: 30px;
}
div.sitemap_view_slickmap .sm_nav #sm_lastli {
    margin-bottom: 30px;
    background: none;
    background: url('../images/L1-right.png') center top no-repeat;
}

/* --------	Second Level --------- */

div.sitemap_view_slickmap .sm_nav li li {
    width: 100%;
    clear: left;
    margin-top: 0;
    padding: 10px 0 0 0;
    background: url('../images/vertical-line.png') center bottom repeat-y;
}
div.sitemap_view_slickmap .sm_nav li li a {
    background-color: #cee3ac;
    border-color: #b8da83;
}
div.sitemap_view_slickmap .sm_nav li li a:hover {
    border-color: #94b75f;
    background-color: #e7f1d7;
}
div.sitemap_view_slickmap .sm_nav li li:first-child {
    padding-top: 30px;
}
div.sitemap_view_slickmap .sm_nav li li:last-child {
    margin-bottom: 0;
    background: url('../images/vertical-line.png') center bottom repeat-y;
}
div.sitemap_view_slickmap .sm_nav .sm_contentext, 
div.sitemap_view_slickmap .sm_nav .sm_urlext {
    background: none;
    background: url('../images/vertical-line.png') center top no-repeat;
}

/* --------	Third Level --------- */

div.sitemap_view_slickmap .sm_nav li li ul {
    margin: 0;
    width: 100%;
    float: right;
    padding: 9px 0 10px 0;
    background: url('../images/L3-ul-top.png') center top no-repeat;
}
div.sitemap_view_slickmap .sm_nav li li li {
    background: url('../images/L3-center.png') left center no-repeat;
    padding: 5px 0;
}
div.sitemap_view_slickmap .sm_nav li li li a {
    background-color: #fff7aa;
    border-color: #e3ca4b;
    font-size: 12px;
    padding: 5px 0;
    width: 80%;
    float: right;
}
div.sitemap_view_slickmap .sm_nav li li li a:hover {
    background-color: #fffce5;
    border-color: #d1b62c;
}
div.sitemap_view_slickmap .sm_nav li li li:first-child {
    padding: 15px 0 5px 0;
    background: url('../images/L3-li-top.png') left center no-repeat;
}
div.sitemap_view_slickmap .sm_nav li li li:last-child {
    margin-bottom: 0;
    background: url('../images/L3-bottom.png') left center no-repeat;
}


/* ------------------------------------------------------------
Utility Navigation
------------------------------------------------------------ */

#sm_utility {
    position:absolute;
    right:0;
    top:0;
}
#sm_utility li {
    float: left;
    margin-bottom: 10px;
}
#sm_utility li a {
    margin: 0 10px 0 0;
    padding: 5px 10px;
    display: block;
    border: 2px solid #e3ca4b;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: black;
    background: #fff7aa url('images/white-highlight.png') top left repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */
}
#sm_utility li a:hover {
    background-color: #fffce5;
    border-color: #d1b62c;
}
